global
    stats socket /tmp/haproxy.stat mode 600 level admin
    # ADD THIS LINE: This opens a TCP port for the Runtime API
    stats socket ipv4@*:9999 level admin

defaults
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend mariadb_in
    bind *:3306
    default_backend galera_cluster

backend galera_cluster
    balance roundrobin
    option mysql-check user hproxy
    
    # agent-check: HAProxy will look at port 9999 on the DB nodes.
    # If it sees "maint", "drain", or "down", it pulls the node.
    server mariadb-0 mariadb-galera:3306 check agent-port 9999 agent-inter 2s
    server mariadb-1 mariadb-galera-1:3306 check agent-port 9999 agent-inter 2s
    server mariadb-2 mariadb-galera-2:3306 check agent-port 9999 agent-inter 2s

listen stats
    mode http
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
